*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
li{
    list-style-type:none;
    text-decoration: none;
}
ul{
    text-decoration: none;
    list-style-type: none;
}

a{
    list-style-type:none ;
    text-decoration: none;
}